*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #1a1a1a; 
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 70px;
    background-color: #000;
}
