/*** grid-container ***/
.grid-container {
    margin: 20px;
    padding: 20px;
}

.grid-container .grid-title {
    color: #FFFFFF;
    font-size: 1.6em;
    margin: 20px;
}
.grid-container .grid-container-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    height: auto;
    cursor: default;
}
